@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #4c5269;
  zoom:90%;
}

.title {
  text-align: center;
  height: 1vh;
  padding-top: 0px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
}

.container {
  background-color: rgb(49, 47, 44);
  color: #ffffff;
  padding: 2rem;
  width: 60%;
  margin: 3rem auto;
  border-radius: 10px;
  border: 2px solid #d2d2d2;
  transition: 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  background: rgba(76, 82, 105, 0.6);
  outline: none;
  color: #fff;
  padding: 0.5rem 2.5rem;
  border-radius: 5px;
}

input:hover {
  background: rgba(95, 103, 133, 0.6);
}

input::placeholder {
  color: #fff;
}
.weather__search {
  position: relative;
}

.weather__search i {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
}

.weather__search i:hover {
  color: rgba(95, 103, 133, 0.8);
}

.weather__date,
.weather__time {
  margin-bottom: 0rem;
  font-size: 17px;
  transition: 0.2s ease-in-out;
}

.weather__time:hover,
.weather__date:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.637);
}

.weather__body {
  text-align: center;
  margin-top: 3rem;
}

.weather__forecast {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

.weather__icon img {
  width: 100px;
  transition: 0.3s ease-in-out;
}
.weather__icon img:hover {
  transform: scale(1.15);
}
.weather__temperature {
  font-size: 4em;
  margin-left: 20px;

}

.weather__city {
  margin-bottom: 10px;
  font-size: 50px;
}

.weather__country {
  font-size: 1.5em;
}

.weather__info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.weather__card {
  margin-top: 15px;
  display: flex;
  align-items: center;
  background: rgba(76, 82, 105, 0.8);
  padding: 1rem;
  border-radius: 10px;
  width: 20%;
  transition: 0.3s ease-in-out;
}

.weather__card:hover {
  background: rgba(95, 103, 133, 0.8);
  transform: scale(1.05);
}

.weather__card i {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.weather__card div {
  flex-grow: 1;
}

.weather__card p {
  font-size: 14px;
}

.weather-pastdata {
  margin-top: 15px;
  display: flex;
  margin-top: 2rem;
  margin-left: 0px;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  background: rgba(76, 82, 105, 0.8);
  border-radius: 10px;
  width: 12%;
  padding: 1rem;
  transition: 0.3s ease-in-out;
}

.day:hover {
  background: rgba(76, 82, 105, 0.8);
  transform: scale(1.05);
}

.day > .day-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.day > div {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.weather-icon img {
  width: 50px;
}

.weather-pastdata {
  display: flex;
}

.day {
  flex: 1;
  padding: 5px;
  border: 0.2px solid #565454;
  margin-right: 5px;
  height: 180px;
  max-width: 170px;
}

div.weather-condition{
  font-size: 14px;
}

footer {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

